html, body {
    // background-color: hsl(220, 20%, 20%);
    // background-color: white;
    background-color: red;
    // color: black;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
