* {
    box-sizing: border-box;
}

html, body {
    // Ponton
    background-color: hsl(220, 20%, 20%);

    // Jaune
    // background-color: rgb(220, 170, 60);

    // Furor
    // background-color: rgb(180, 10, 20);

    // background-color: white;

    // color: black;
    color: white;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
